.contact .section_head h1 {
  color: #fff;
}

.contact .section_head p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.contact_details {
  display: flex;
  flex-direction: column;
}

.contact_details a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.contact_form {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.input-field {
  margin-bottom: 20px;
  position: relative;
}

.input-field input {
  margin-bottom: 0;
  box-shadow: 0px 1px 0px #fff;
  color: #444444;
  font-size: 15px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ececec;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: 0.3s;
}

.input-field label {
  position: absolute;
  top: 0.8rem;
  left: 0;
  color: #bbbbbb;
  font-size: 15px;
  cursor: text;
  transition: 0.2s ease-out;
}

.input-field textarea {
  padding: 16px 0;
  margin: 0;
  height: 132px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  border: none;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}

.btn-submit {
  margin-bottom: 0;
  padding: 0 15px;
  font-size: 13px;
  font-weight: 600;
  padding-left: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: $primaryBlue;

}
