.portoflio .section_head h1 {
  color: #fff;
}

.portoflio .section_head p {
  color: #fff;
}

.portfolio .section_head {
  background: #2196f3;
  padding-top: 80px;
  margin-bottom: 50px;
}

.portfolio .section_head h1 {
  margin-bottom: 60px;
  color: #fff;
}

.categories {
  display: flex;
  padding-bottom: 15px;
}

.categories a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 3px 0;
  line-height: 20px;
  padding-right: 1px;
  padding-left: 1px;
  margin-right: 10px;
  margin-bottom: 15px;
  transition: .5s ease;
}

.categories a:hover {
  border-color: #fff;
}

.categories .active {
  border-color: #fff;
}

.categories a:last-child {
  margin-right: 0;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-image {
  position: relative;
  cursor: pointer;
}

.hov {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(33, 150, 243, .85);
  color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: all .3s ease;
}

.hov h2 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.gallery-image:hover .hov {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  opacity: 1;
}

.gallery-image img {
  max-width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.modal {
}

.gallery-image {
  margin-bottom: 20px;
  @media (min-width: 480px) {
    width: 49%;
    margin-bottom: 2%;
  }
  @media (min-width: 767px) {
    width: 32%;
  }
}
